<%= form_with(model: @booking, url: v1_booking_path, method: :patch, local: true) do |form| %>
  <% if @booking.status == 1 %>
    <h2 style="color: green;">Booking Confirmed</h2>
  <% elsif @booking.status == 3 %>
    <h2 style="color: red;">Booking Cancelled</h2>
  <% end %>
  <div style="margin-bottom: 10px;">
    <%= form.label "Status", style: "font-weight: bold;" %>
    <%= form.select :status, Booking.status.options, {}, style: "margin-left: 10px;" %>
  </div>
  <%= form.submit 'Update status', style: "background-color: blue; color: white; padding: 5px 10px; border-radius: 5px;" %>
<% end %>
